ouse
{% extends 'base.html' %}

{% block title %} 
    Admin
{% endblock %}

{% block content %}

<div class="main-container">
    <!-- Login container on the left -->
    <div class="container">
        <h2>Login</h2>
        <form action="{{ url_for('admin_page') }}" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="form-group">
                <input type="submit" value="Login">
            </div>
            
        </form>
    </div>

    <!-- Image container on the right -->
    <div class="image-container">
        <img src="{{ url_for('static',filename='images/admin.jpeg')}}">
    </div>
</div>

{% endblock %}

{% block style %}
<style>


    .main-container {
        display: flex;
        position: relative;
        overflow: hidden;
    }

    .container {
        width:300px;
        height:auto;
        margin: 20px 0 20px 20px; /* Adjusted margin for left positioning */
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 50%; /* Center vertically */
        left: 20%; /* Center horizontally */
        transform: translateY(-50%); 
        z-index:1;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    h2 {
        text-align: center;
        font-size: 15px;
    }

    .form-group {
        margin: 10px 0;
    }

    .form-group label {
        display: block;
        font-weight: bold;
    }

    .form-group input[type="text"],
    .form-group input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .form-group input[type="submit"] {
        background: #333;
        color: #fff;
        border: 0;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
        align-items: center;
    }

    /* New styles for the image container */
    .image-container {
        flex-grow: 1; /* Take remaining space */
       
    }

    .image-container img {
        width: 100%;
        display: block;
    }
</style>


{% endblock %}



