{% extends 'base.html' %}

{% block title %} 
    Pet Products Page
{% endblock %}

{% block content %}

<div class="container1">
    <img src="{{ url_for('static',filename='images/row_pets.jpg')}}">

</div>

<div class="container">
    <div class="get-started">Get Started</div>
    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
    <form action="{{ url_for('register_page') }}" method="post">
        <!-- Your form content here -->
        <div class="form-group" style="display: flex; flex-direction: column;">
            <label for="username" style="margin-bottom: 5px;">Username</label>
            <input type="text" id="username" name="username" required style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 10px; margin-bottom: 10px; box-sizing: border-box;">
        </div>

        <div class="form-group" style="display: flex; flex-direction: column;">
            <label for="email" style="margin-bottom: 5px;">Email</label>
            <input type="email" id="email" name="email" required style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 10px; margin-bottom: 10px; box-sizing: border-box;">
        </div>

        <div class="form-group" style="display: flex; flex-direction: column;">
            <label for="password" style="margin-bottom: 5px;">Password</label>
            <input type="password" id="password" name="password" required style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 10px; margin-bottom: 10px; box-sizing: border-box;">
        </div>

        <div class="form-group" style="display: flex; flex-direction: column;">
            <label for="confirm_password" style="margin-bottom: 5px;">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" required style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 10px; margin-bottom: 10px; box-sizing: border-box;">
        </div>

        <div class="form-group" style="display: flex; flex-direction: column; align-items: center;">
            <input type="submit" value="Register" style="background: #333; color: #fff; border: 0; border-radius: 5px; padding: 10px 15px; cursor: pointer;">
        </div>
    </form>
    <h2 style="color: #FFF;
    text-align: center;
    font-family: Julee;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;">Already have an account? Login</h2>
    
</div>



{% endblock %}

{% block style %}
<style>
        

    .container1 {
        max-width: 100%;
        margin: 0;
        padding: 0;
        position:relative;
        z-index:1;
    }

    .container1 img {
        width: 100%;
        /* height: 20%; */
        display: block;
        align-items:end;
    }

    .container {
        max-width: 500px;
        margin:20px auto;
        padding: 20px;
        border-radius: 60px;
        background: #B69578;
        
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        flex-shrink: 0;
        position: relative;
        z-index: 7;
        margin-top: -20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .get-started {
       
        font-weight: bold;
        margin-bottom: 20px;
        color: #FFF;
        text-align: center;
        font-family: Julee;
        font-size: 60px;
        font-style: normal;
        font-weight: 40;
        line-height: normal;
    }

    .form-group {
        margin: 10px 0;
        color: #FFF;
        text-align: left;
        font-family: Julee;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display:flex;
        flex-direction: column;
        
    }

    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom:5px;
    }

    .form-group input[type="text"],
    .form-group input[type="password"],
    .form-group input[type="email"] {
        width: 95%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-bottom:10px;
        box-sizing:border-box;
    }

    .form-group input[type="submit"] {
        background: #333;
        color: #fff;
        border: 0;
        border-radius: 100px;
        padding: 8px 12px;
        cursor: pointer;
        font-size:25px;
        width: 256px;
        height: 56px;
        font-family:Judson;
    }
</style>



{% endblock %}




